# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
env/
venv/
ENV/
build/
dist/
*.egg-info/

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Logs
*.log

# IDEs
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Misc
*.swp
*.bak
*.tmp

# Coverage
coverage/
*.cover
*.coverage

# Test outputs
test-results/
junit/

# Others
*.sqlite3
*.db